*

!.editorconfig
!.gitattributes
!.gitignore
!.prettierignore
!.prettierrc.json
!bun.d.ts
!index.ts
!LICENSE
!package.json
!README.*
!tsconfig.json
!updates-firefox.json

!assets
!assets/**

!dist
!dist/icons
!dist/icons/**

!src
!src/**
