*

!.gitattributes
!.gitignore
!.prettierignore
!.prettierrc.json
!bun.d.ts
!*.code-workspace
!index.ts
!LICENSE
!package.json
!README.*
!tsconfig.json

!assets
!assets/**

!dist
!dist/icons
!dist/icons/**

!src
!src/**
